fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
redis
python-dotenv
pydantic
pydantic-settings
email-validator
python-jose
passlib[bcrypt]
python-multipart
supabase
httpx
groq
google-genai
sentry-sdk
fpdf2
