fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
redis
python-dotenv
pydantic
pydantic-settings
pydantic[email]
python-jose
passlib[bcrypt]
python-multipart
supabase
httpx
pillow
groq
google-genai
slowapi
sentry-sdkfpdf2
